<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
</head>

<body class="text-center">
    <%- include("partials/nav.ejs") %>

        <div class="container"
            style="display: flex; justify-content: space-between; align-items: flex-start; gap: 20px; text-align: left;">

            <div class="left-column" style="flex: 1; padding: 10px;">
                <h2 class="text-center">
                    <%= planet_name %>
                </h2>
                <br>
                <%= planetInfo.description %>
                    <br>
                    <hr>

                    <b>Planet Size (radius):</b>
                    <%= planetInfo.radius %>
                        <br>
                        <hr>

                        <b> How long is one year on <%= planet_name %>? </b>
                        <%= planetInfo.yearLength %>
                            <br>
                            <hr>

                            <b>Link</b>
                            <a href="<%= planetInfo.websiteLink %>">
                                <%= planetInfo.websiteLink %>
                            </a>
                            <br>
                            <hr>
                            <b>How long is one Earth day on? </b>
                            <%= planet_name %>: <%= planetInfo.oneEarthDay %>
                                    <br>
                                    <hr>

                                    <b> How many moons? </b>
                                    <%= planetInfo.moons %>
                                        <br>
                                        <hr>

                                        <b>Distance from the Sun:</b>
                                        <%= planetInfo.distanceFromSun %>
                                            <br>
                                            <%= planetInfo.def %>
                                                <br>
            </div>

            <div class="right-column" style="flex: 1; padding: 10px; text-align: center;">
                <img src="<%= planetInfo.image %>" class="img-fluid" width="300" alt="<%= planet_name %>">
                <br>
                <%= planetInfo.link %>
                    <br>
            </div>

        </div>

        <%- include("partials/foot.ejs") %>
</body>

</html>